{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Add Module</h5>
			<div class="ibox-tools">

			</div>
		</div>
		<div class="ibox-content">
			<form class="form-horizontal" action="{% url 'curiousWorkbench:saveModule' %}" method="post">
				{% csrf_token %}
				<!-- <div class="form-group">
					<label class="col-lg-2 control-label">
						ID</label>
						<div class="col-lg-10">
							<input type="Text" class="form-control" name="ID" value="{{selModule.ID}}" ></div>
						</div> -->
						<div class="form-group">
							<label class="col-lg-2 control-label">
								Title</label>
								<div class="col-lg-10">
									<input type="Text" class="form-control" name="Title" value="{{selModule.Title}}" ></div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">
										Description</label>
										<div class="col-lg-10">
											<input type="Text" class="form-control" name="Description" value="{{selModule.Description}}" ></div>
										</div>
										<div class="form-group">
											<label class="col-lg-2 control-label">
												Image</label>
												<div class="col-lg-10">
													<input type="Text" class="form-control" name="Goal" value="{{selModule.AuthorURL}}" ></div>
												</div>
												<div class="form-group">
													<label class="col-lg-2 control-label">
														Goal</label>
														<div class="col-lg-10">
															<input type="Text" class="form-control" name="Goal" value="{{selModule.Goal}}" ></div>
														</div>
														<div class="form-group">
															<label class="col-lg-2 control-label">
																Author</label>
																<div class="col-lg-10">
																	<input type="Text" class="form-control" name="Author" value="{{selModule.Author}}" ></div>
																</div>
																<div class="form-group">
																	<label class="col-lg-2 control-label">
																		Units</label>
																		<div class="col-lg-10">
																			<input type="Text" class="form-control" name="Units" value="{{selModule.Units}}" ></div>
																		</div>

																		<div class="form-group">
																			<div class="col-sm-4 col-sm-offset-2">
																				<input type="submit" class="btn btn-white" name="addModule" value="Add Module" />
																			</div>
																		</div>

																	</form>
																</div>
															</div></div>
																	{% endblock %}
