{% extends "curiousWorkbench/base_child.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Add Message</h5>
			<div class="ibox-tools">

			</div>
		</div>
		<div class="ibox-content">
<form  class="form-horizontal" action="{% url 'curiousWorkbench:saveMessageLibrary' %}" method="post">
{% csrf_token %}

<!--
ID
<input type="Text" name="ID" value="{{selMessageLibrary.ID}}" >

-->
<div class="form-group">
	<label class="col-lg-2 control-label">
Action</label>
<div class="col-lg-10">
<input type="Text"  class="form-control" name="Action" value="{{selMessageLibrary.Action}}" >
</div>
</div>
<!--
Msg Order
<input type="Text" name="MsgOrder" value="{{selMessageLibrary.MsgOrder}}" >
-->
<div class="form-group">
	<label class="col-lg-2 control-label">
Message Type</label>
<div class="col-lg-10">
<input type="Text" name="MessageType" class="form-control" value="{{ selMessageLibrary.MessageType }}">
</div>
</div>
<div class="form-group">
	<label class="col-lg-2 control-label">
Message Text</label>
<div class="col-lg-10">
<input type="Text" name="MessageText" class="form-control" value="{{ selMessageLibrary.MessageText }}">
</div>
</div>
<div class="form-group">
	<label class="col-lg-2 control-label">
Message Image</label>
<div class="col-lg-10">

<input type="Text" name="MessageImage" class="form-control" value="{{ selMessageLibrary.MessageImage }}">
</div>
</div>
<div class="form-group">
	<label class="col-lg-2 control-label">
Message Video</label>
<div class="col-lg-10">
<input type="Text" name="MessageVideo" class="form-control" value="{{ selMessageLibrary.MessageVideo }}">
</div>
</div>
<div class="form-group">
	<label class="col-lg-2 control-label">
Message Buttons</label>
<div class="col-lg-10">
<input type="Text" name="MessageButtons" class="form-control" value="{{ selMessageLibrary.MessageButtons }}">
</div>
</div>
<div class="form-group">
	<label class="col-lg-2 control-label">
		Mesage Quick Replies</label>
		<div class="col-lg-10">
<input type="Text" name="MessageQuickReplies" class="form-control" value="{{ selMessageLibrary.MessageQuickReplies }}">
</div>
</div>

<div class="form-group">
	<div class="col-sm-4 col-sm-offset-2">
	<input type="submit" class="btn btn-white" class="form-control" name="addMessage" value="Add Message" />
			</div></div>
</fieldset>
</form>
</div>
</div>
</div>
{% endblock %}
