{% load staticfiles %}

{% load staticfiles %}
{% load url from future %}
<html>
<head>
  <title> Holly Integration was {{ IntegrationStatus }}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'curiousWorkbench/style.css' %}">
</head>
<body class="Index">

  <form action="{% url 'curiousWorkbench:authApp' %}" method="post" >
    {% csrf_token %}
    <div class="Content">

    <div class="Authenticate" >

      <div class="TitleBox">
        <div class="Title">Walnut</div> <div class="TitlePostFix">alpha</div></div>
        <div class="SubTitle">
          <br/><br/><br/>
          Bot Integration was {{ IntegrationStatus }}
          <br/><br/><br/>
          Please visit your slack application to interact with holly<br/>
          To interact with holly try to following options<br/>
          Examples<br/>
          - In the general channel type: #holly how is jumanji<br/>
          - Direct message holly : #holly how is jumanji <br/>
          <br/>
        </div>

      </div>

</div>
    </form>

  </body>
