{% load staticfiles %}
{% load url from future %}
<html>
<head>
<title>Walnut AI - Intelligence Platform</title>
<link rel="stylesheet" type="text/css" href="{% static 'curiousWorkbench/style.css' %}">
</head>

<body>
 <div class="Page">
		<div class="Header">
			<img class="Logo" src="{% static 'curiousWorkbench/images/brain.png' %}" >
            <div class="PageHeader">
            Walnut AI
            </div>
            <div class="PageHeaderLinks">
                <a href="{% url 'curiousWorkbench:user_logout' %}" method="post">Logout</a>
            </div>
		  </div>
      <div class="BreadCrumbs">
            <div class="BreadCrumb">
              {% block Header %}
              Walnut
              {% endblock %}
            </div>
          </div>
		<div class="PageBody">
			<div class="RightContent">
				{% block Menu %}

<ul class="RightMenu">
					<li><a href="{% url 'curiousWorkbench:index' %}" method="post">Home</a></li>
					<li class="MenuHeader">Build</li>
					<li><a href="{% url 'curiousWorkbench:configProject' %}" method="post">Project </a></li>
                    <li><a href="{% url 'curiousWorkbench:configModel' %}" method="post">Model</a></li>
					<li><a href="{% url 'curiousWorkbench:configDataFile' %}">Data</a></li>
					<li class="MenuHeader">Train</li>
                    <li><a href="{% url 'curiousWorkbench:selectTrainProject' %}" method="post">Train </a></li>
					<li class="MenuHeader">Share</li>
					<li><a href="{% url 'curiousWorkbench:exportNeuralNetwork' %}">Export </a></li>
					<li><a href="{% url 'curiousWorkbench:importNeuralNetwork' %}">Import</a></li>



</ul>
{% endblock %}
			</div>
			<div class="CenterContent">
{% block Content %}My content{% endblock %}
			</div>
			<div class="LeftContent">

			</div>

		</div>
		<div class="Footer">
      <div class="FooterText">
		{% block Footer %}&copy;	Chandan Maruthi 2015 {% endblock %}
  </div></div>
	</div>
</body>
</html>
