{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}Modules{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
{% if contentList %}


<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Content</h2>
    <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'curiousWorkbench:index' %}">Home</a>
                            </li>
                            <li class="active">
                                <strong>Configure Content</strong>
                            </li>
                          </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5> {{ contentList.count }}  found     </h5>
          <div class="ibox-tools">

            <a href="{% url 'curiousWorkbench:addStateMachineSubscription' %}"> + New Subscription</a></div>

          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>

                    <th >Title</th>
                    <th >Order</th>
                    <th >Content </th>
                    <th >Image</th>
                    <th >Module</th>
                    </tr>

                  </thead>
                  <tbody>

                    {% for eachContent in contentList %}
                    <tr><td>
                      <a href="{% url 'curiousWorkbench:editStateMachineSubscription' stateMachineSubscription.SM_ID %}" method="post" alt="{{ stateMachineSubscription.Event_Code }}">{{ stateMachineSubscription.Event_Code }}</a></td>
                      <td><img src="{% static 'curiousWorkbench/images/gold-nugget-icon.png' %}" height="50px;"></td>
                      <td><a href="{% url 'curiousWorkbench:editContent' eachContent.id %}" method="post" alt="{{ eachContent.Title }}">{{ eachContent.Title }}</a></td>
                      <td>{{ eachContent.OrderNumber }}</td>
                      <td>{{ eachContent.Content|slice:"0:50" }}...</td>
                      <td> {% if eachContent.Image %}<img src="{{ eachContent.Image }}" width="50px">{% endif %} </td>
                      <td>{{ eachContent.module.Title }}</td>
                      <td><a href="{% url 'curiousWorkbench:editContent' eachContent.id  %}" method="post">edit</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          {% else %}
          <p>No Content is available.</p>
          {% endif %}
          <br><br>


    {% endblock %}
