{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}Model{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
{% if UserStateList %}

{% csrf_token %}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>User Analysis</h2>
    <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'curiousWorkbench:index' %}">Home</a>
                            </li>
                            <li class="active">
                                <strong>Configure Users</strong>
                            </li>
                          </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">By User Role</div>
        <div class="ibox-content"><img src={{ imgURLRole  }} style="width:400px;"></div>
      </div>
    </div>
    <div class="col-lg-6">

      <div class="ibox float-e-margins">
        <div class="ibox-title">By Gender</div>
        <div class="ibox-content">        <img src={{ imgURLGender  }}  style="width:400px;"></div>
      </div>
    </div>    <div class="col-lg-6">

      <div class="ibox float-e-margins">
        <div class="ibox-title">By Subscription Status</div>
        <div class="ibox-content">
          <img src={{ imgURLSubscription  }}  style="width:400px;"></div>
        </div>
      </div>

      <div class="col-lg-6">

        <div class="ibox float-e-margins">
          <div class="ibox-title">By Notification Time</div>
          <div class="ibox-content">
            <img src={{ imgURLNotifyTime  }}  style="width:400px;"></div>
          </div>
        </div>

        <div class="col-lg-6">

          <div class="ibox float-e-margins">
            <div class="ibox-title"> {{ UserStateList.count }} Users Found </div>
            <div class="ibox-content">
              <table>
                <tr class="TableHeader">
                  <td width="400px" >Role</td>
                  <td width="400px" >Users</td>
                </tr>
                {% for UsersByRole in UsersByRoleList %}
                <tr class="TableRow">
                  <td>{{ UsersByRole.UserRole }}</td>
                  <td>{{ UsersByRole.dcount }}</td>
                </tr>
                {% endfor %}
              </table>

            </div>
          </div>
</div>

{% else %}
<p>No models are available.</p>

{% endif %}
<br><br>
<!--  <a href="{% url 'curiousWorkbench:addStateMachineSubscription' %}">+Create New State Machine Subscription</a> -->
{% endblock %}
