{% extends "curiousWorkbench/base_child.html" %} {% load staticfiles %} {% block Header %}Model{% endblock %} {% block Footer %}My Footer{% endblock %} {% block Content %}







<!-- <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Events</h2>
    </div>
</div> -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <form class="form-horizontal" action="{% url 'curiousWorkbench:configStateMachine' %}" method="post">
                    {% csrf_token %}
                    <input type="Text" class="form-control" name="searchText" >
                    <input  class="btn btn-white" type="submit" name="searchEvent" value="search" />
                    <input  class="btn btn-white" type="submit" name="clearSearch" value="clear" />
                  </form>
                    <h5>  {{ StateMachineList.count }} events found        </h5>
                    <div class="ibox-tools">

                        <a href="{% url 'curiousWorkbench:addStateMachineSubscription' %}"> + New Event</a></div>

                </div>
                <div class="ibox-content">
                    <div style="width:350px;overflow-y: scroll;sroll;height:500px;border:solid 0px;float:left;border:1px;">
{% if StateMachineList %} {% csrf_token %}

                        <ul class="tree">
                            {% autoescape off %}{{ strTree }}{% endautoescape %}
                        </ul>&nbsp;&nbsp;.

                        {% else %}
                        <p>No models are available.</p>

                        {% endif %}
                    </div>&nbsp;&nbsp;.
                    <!-- <div style="width:1200px;height:1000px;float:left;">
                        <div style="width:810px;overflow-y: scroll;sroll;height:1000px;border:solid 0px;float:left;border:1px;">
                            <iframe name="stateMachine" style="float:left;width:400px;height:1000px;overflow-y: scroll;sroll;border:solid 0px;">
</iframe>
                            <iframe id="messageWindow" name="messageWindow" src="" style="float:left;width:400px;height:1000px;overflow-y: scroll;sroll;border:solid 0px;">
</iframe>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>


    </div>
</div>
</div>
{% endblock %}
