{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}Model{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
{% if MessageLibraryList %}







<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Messages</h2>
    <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'curiousWorkbench:index' %}">Home</a>
                            </li>
                            <li class="active">
                                <strong>Configure Messages</strong>
                            </li>
                          </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5> {{ MessageLibraryList.count }} Messages Found        </h5>
          <div class="ibox-tools">

            <a href="{% url 'curiousWorkbench:addMessageLibrary' %}"> + New Message</a></div>

          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>MSG Action</th>
                    <th>MSG order</th>
                    <th>MessageType</th>
                    <th>MessageText </th>
                    <th>MessageImage </th>
                    <th>MessageVideo </th>
                    <th>MessageButtons </th>
                    <th>MessageQuickReplies </th>
                    </tr>

                  </thead>
                  <tbody>

                    {% for MessageLibraryEntry in MessageLibraryList %}
                    <tr>
                      <td>{{ MessageLibraryEntry.ID }}</td>
                      <td><a href="{% url 'curiousWorkbench:editMessageLibrary' MessageLibraryEntry.ID %}" method="post" alt="{{ MessageLibraryEntry.ID }}">{{ MessageLibraryEntry.Action }}</a></td>
                      <td>{{ MessageLibraryEntry.MsgOrder }}</td>
                      <td>{{ MessageLibraryEntry.MessageType }}</td>
                      <td>{{ MessageLibraryEntry.MessageText }}</td>
                      <td> {% if MessageLibraryEntry.MessageImage %}
                        <img src="{{ MessageLibraryEntry.MessageImage }}" alt="{{ MessageLibraryEntry.MessageImage }}" height="100px" width="100px">
                        {% endif %}
                      </td>
                      <td>{{ MessageLibraryEntry.MessageVideo }}</td>
                      <td>{{ MessageLibraryEntry.MessageButtons }}</td>
                      <td>{{ MessageLibraryEntry.MessageQuickReplies }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

  </table>

  {% else %}
  <p>No models are available.</p>

  {% endif %}
  <br><br>
  {% endblock %}
