{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}Model{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
{% csrf_token %}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Configure Settings</h2>
    <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'curiousWorkbench:index' %}">Home</a>
                            </li>
                            <li class="active">
                                <strong>Configure Settings</strong>
                            </li>
                          </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">Platform Settings</div>
        <div class="ibox-content">
          <form action="{% url 'curiousWorkbench:saveSettings' %}" method="post">
          {% csrf_token %}

          <textarea id="txtSettings" name="txtSettings" style="width:800px;height:600px;overflow-y: scroll;overflow-x: scroll;">
            {{ strAppSettings }}
          </textarea>
          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
              <input type="submit" name="saveSettings" value="Save Settings" />
            </div>
          </div>

        </form>
        </div>
      </div>
    </div>






</div>


<br><br>
<!--  <a href="{% url 'curiousWorkbench:addStateMachineSubscription' %}">+Create New State Machine Subscription</a> -->
{% endblock %}
