
<html>
<head>
  <title>{{ strTitle }}</title>
  <meta property="og:url" content="https://swiftkey.com/en/united-states-emoji/"/>
  <meta property="og:title" content="The United States of Emoji presented by SwiftKey Keyboard"/>
  <meta property="og:description" content="Which emoji does each US state use more than others? Explore the map above or select a state below to learn more.”/>
  <meta property=”og:site_name” content=”SwiftKey”/>
  <meta property=”og:image” content=”https://i.imgur.com/fdPhX2E.png"/>
</head>
<body style="background-color: #000000;">
  <div style="float:left;width:100%;height:100%;background-color:#000000;">
    <div style="float:left;height:5%;width:100%;font-size:25px;font-weight:bold;color:#ffffff;">
      <img src="{{rootURL}}/static/curiousWorkbench/images/walnuty.png" style="height:50px;vertical-align: middle">
      <a href="https://m.me/walnutBot" style="color:#ffffff;"><img style= "vertical-align: middle;" src="{{rootURL}}/static/curiousWorkbench/images/TryWalnut.png"></a>
      {{ strTitle}} , Credits : 1 , Duration : < 4 Mins </div>
    <div style="float:left;height:90%;width:100%;">
      {% autoescape off %}{{ strHTML }}{% endautoescape %}
    </div>
    <div style="float:left;height:5%;width:100%;">
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_inline_share_toolbox"></div>
  </div>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-34198029-2', 'auto');
ga('send', 'pageview');

</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-585700d0cf2074c8"></script>
</body>
</html>
