{% extends "curiousWorkbench/base.html" %} {% load staticfiles %} {% block Header %}Model{% endblock %} {% block Footer %}My Footer{% endblock %} {% block Content %}

  <div class="wrapper wrapper-content" style="width:1200px;margin-left:auto;margin-right:auto;">
<div class="row">
<div class="col-lg-12">
    <div class="widget-head-color-box navy-bg p-lg text-center">
                                <div class="m-b-md">
                                <h2 class="font-bold no-margins">
                                    {{ strUserName }}
                                </h2>
                                    <small>{{ strTeamName }}</small>
                                </div>
                                <img src="{% static 'curiousWorkbench/images/chandanProfilePicture.jpg' %}" class="img-circle circle-border m-b-md" style="width:200px;" alt="profile">
                                <div>
                                    <span>Started: Jan 15 2017</span> |
                                    <span>Followers : 25</span> |
                                    <span>Following : 5</span>
                                </div>
                            </div>

</div></div>
<div class="row" style="margin-top:10px;">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-success pull-right">To date</span>
            <h5>Consumed</h5>
        </div>
        <div class="ibox-content">
            <h1 class="no-margins">{{ intModulesConsumed }}</h1>
            <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
            <small>Modules Consumed</small>
        </div>
    </div>
</div>
<div class="col-lg-3">
  <div class="ibox float-e-margins">
      <div class="ibox-title">
          <span class="label label-success pull-right">To Date</span>
          <h5>Created</h5>
      </div>
      <div class="ibox-content">
          <h1 class="no-margins">{{ intModulesConsumed }}</h1>
          <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
          <small>Modules Created</small>
      </div>
  </div>
</div>
<div class="col-lg-3">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <span class="label label-success pull-right">To date</span>
        <h5>Shared</h5>
    </div>
    <div class="ibox-content">
        <h1 class="no-margins">{{ intContentReached }}</h1>
        <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
        <small>People Benefited</small>
    </div>
</div>
</div>
<div class="col-lg-3">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <span class="label label-success pull-right">To date</span>
        <h5>Participated</h5>
    </div>
    <div class="ibox-content">
        <h1 class="no-margins">{{ intContentReached }}</h1>
        <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
        <small>People Benefited</small>
    </div>
</div>
</div>
</div>
<div class="row" style="margin-top:10px;">
                        <div class="col-sm-4">
                            <!-- <small>
                                Modules you consumed
                            </small> -->
                            <div id="sparkline1" class="m-b-sm">
                                <img src ="{{chartURL_1}}" style="width:350px;" />
                            </div>
                            <!-- <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Pages / Visit</small>
                                    <h4>236 321.80</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% New Visits</small>
                                    <h4>46.11%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Last week</small>
                                    <h4>432.021</h4>
                                </div>
                            </div> -->

                        </div>
                        <div class="col-sm-4">
                            <div id="sparkline2" class="m-b-sm">
                              <img src ="{{chartURL_2}}" style="width:350px;" />

                                </div>
                            <!-- <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Pages / Visit</small>
                                    <h4>166 781.80</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% New Visits</small>
                                    <h4>22.45%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Last week</small>
                                    <h4>862.044</h4>
                                </div>
                            </div> -->


                        </div>
                        <div class="col-sm-4">

                            <div id="sparkline1" class="m-b-sm">
                              <img src ="{{chartURL_3}}" style="width:350px;" />

                            </div>
                            <!-- <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Pages / Visit</small>
                                    <h4>236 321.80</h4>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">% New Visits</small>
                                    <h4>46.11%</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Last week</small>
                                    <h4>432.021</h4>
                                </div>
                            </div> -->

                        </div>

                    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="ibox-content">


            <div class="tabs-container">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-2" aria-expanded="false"> Acquired</a></li>
                <li><a data-toggle="tab" href="#tab-3" aria-expanded="false"> Created</a></li>
                <li><a data-toggle="tab" href="#tab-4" aria-expanded="false"> Shared</a></li>
              </ul>
              <div class="tab-content">
                          <div id="tab-2" class="tab-pane active">
                              <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Date</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        {% for objUserCertification in objUserCertificationList %}
                                        <tr>
                                            <td>{{ objUserCertification.Title }}</td>
                                            <td>{{ objUserCertification.Author }}</td>
                                            <td>{{ objUserCertification.date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                              </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <th>Title</th>
                                              <th>Description</th>
                                              <th>Created</th>
                                          </tr>

                                      </thead>
                                      <tbody>

                                          {% for objModuleCreated in objModuleCreatedList %}
                                          <tr>
                                              <td>{{ objModuleCreated.Module_ID }}</td>
                                              <td>{{ objModuleCreated.Module_ID }}</td>
                                              <td>{{ objModuleCreated.CreatedDate }}</td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                  </table>
                                </div>
                              </div>
                              <div id="tab-4" class="tab-pane">
                                  <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Created</th>
                                            </tr>

                                        </thead>
                                        <tbody>

                                            {% for objModuleShared in objModuleSharedList %}
                                            <tr>
                                                <td>{{ objModuleShared.Module_ID }}</td>
                                                <td>{{ objModuleShared.Module_ID }}</td>
                                                <td>{{ objModuleShared.CreatedDate }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                  </div>
                                </div>

            </div>
            </div>

          </div>
        </div>
    </div>

{% endblock %}
