{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}

<form action="{% url 'curiousWorkbench:saveContentLibrary' selContent.ID %}" method="post">
{% csrf_token %}
	{% if selContent %}
	<div class="form-style-5">

<fieldset>
<legend><span class="number">2</span> Edit Content</legend>
ID
<input type="Text" name="ID" value="{{selContent.ID}}" >
Module ID
<input type="Text" name="ID" value="{{selContent.Module_ID}}" >
Message Type
<input type="Text" name="ID" value="{{selContent.Message_Type}}" >
Content Order
<input type="Text" name="ID" value="{{selContent.Content_Order}}" >
Text
<input type="Text" name="ID" value="{{selContent.Text}}" >
Title
<input type="Text" name="Title" value="{{selContent.Title}}" >
Sub Title
<input type="Text" name="Subtitle" value="{{ selContent.Subtitle }}">
Image URL
<input type="Text" name="ImageURL" value="{{ selContent.ImageURL }}">
Link URL
<input type="Text" name="LinkURL" value="{{ selContent.LinkURL }}">
Embed ID
<input type="Text" name="Embed_ID" value="{{ selContent.Embed_ID }}">
Type
<input type="Text" name="Type" value="{{ selContent.Type }}">
Skill
<input type="Text" name="Skill" value="{{ selContent.Skill }}">
Questions
<input type="Text" name="Questions" value="{{ selContent.Questions }}">
Answer Options
<input type="Text" name="AnswerOptions" value="{{ selContent.AnswerOptions }}">
Right Answer
<input type="Text" name="RightAnswer" value="{{ selContent.RightAnswer }}">
Right Answer Response
<input type="Text" name="RightAnswer" value="{{ selContent.Right_Ans_Response }}">
Wrong Answer Response
<input type="Text" name="RightAnswer" value="{{ selContent.Wrong_Ans_Response }}">

{% endif %}
	<input type="submit" name="saveContent" value="Save Content" />
	<input type="submit" name="deleteContent" value="Delete Content" />

</fieldset>
</form>
{% endblock %}
