{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}

<form action="{% url 'curiousWorkbench:saveContent' content.id %}" method="post">
{% csrf_token %}
	{% if content %}
	<div class="form-style-5">

<fieldset>
<legend><span class="number">2</span> Edit Content</legend>
<input type="Text" name="contentTitle" value="{{content.Title}}" >
<input type="Text" name="contentOrder" value="{{content.OrderNumber}}" >
<textarea name="contentContent" placeholder="Enter Content " rows="10">{{ content.Content }}</textarea>
<input type="Text" name="contentImage"value="{{ content.Image }}">
<select  name="contentModule">
<optgroup label="Add this a module">
	{% for eachModule in moduleList %}
	<option value="{{ eachModule.id }}" {% if eachModule.id = content.module.id %} selected {% endif %}  >{{ eachModule.Title }}</option>
	{% endfor %}
</optgroup>

</select>
{% endif %}
	<input type="submit" name="saveContent" value="Save Content" />
	<input type="submit" name="deleteContent" value="Delete Content" />

</fieldset>
</form>
{% endblock %}
