{% load staticfiles %}

{% load staticfiles %}
{% load url from future %}
<html>
<head>
  <title> Sign in with Facebook </title>
  <link rel="stylesheet" type="text/css" href="{% static 'curiousWorkbench/style.css' %}">
</head>
<body class="Index">
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '169854513392577',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <form action="{% url 'curiousWorkbench:facebookAuth' %}" method="post" >
    {% csrf_token %}
    <div class="Content">

    <script>
    if (document.getElementById('savedUserInfo') == 'saved'){
      document.getElementById('closeBrowserBox').style.display='block';
      document.getElementById('btSubmit').style.display='none';
    } else {
      document.getElementById('closeBrowserBox').style.display='none';
    }
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        testAPI(response.authResponse.accessToken);

        //extendedPerm(response.authResponse.accessToken);
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into this app.';
      } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into Facebook.';
      }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    window.fbAsyncInit = function() {
    FB.init({
      appId      : '169854513392577',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.2' // use version 2.2
    });

    // Now that we've initialized the JavaScript SDK, we call
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI(nAccessToken) {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me?fields=first_name, last_name, picture, email,age_range, gender, locale, timezone, birthday, hometown, location, website', function(response) {
        responseText = JSON.stringify(response);
        document.getElementById('nAccessToken').value = nAccessToken ;
        document.getElementById('first_name').value = response.first_name;
        document.getElementById('last_name').value = response.last_name;
        document.getElementById('age_range_min').value = response.age_range.min;
        document.getElementById('gender').value = response.gender;
        document.getElementById('locale').value = response.locale;
        document.getElementById('timezone').value = response.timezone;
        document.getElementById('email').value = response.email;
        document.getElementById('birthday').value = response.birthday;
        document.getElementById('hometown').value = JSON.stringify(response.hometown.name);
        document.getElementById('location').value = JSON.stringify(response.location.name);
        document.getElementById('btSubmit').style.display="block";
    });

      }
    function extendedPerm(nAccessToken){
      FB.login(function(response) {console.log(response);}, {scope: 'user_birthday'});
      FB.api('/me?fields=first_name, last_name, picture, email,age_range, gender, locale, timezone,user_birthday', function(response) {
        //responseText = JSON.stringify(response);
        console.log('Successful login for: ' + response.name) + '<br/>';

    });
  }

  </script>




  <!--
  id
name
first_name
last_name
age_range
link
gender
locale
picture
timezone
updated_time
verified


    Below we include the Login Button social plugin. This button uses
    the JavaScript SDK to present a graphical Login button that triggers
    the FB.login() function when clicked.
  -->
  <form id = "facebookAuthSave" name="facebookAuthSave" action="{% url 'curiousWorkbench:facebookAuth' %}" method="post" >
    {% csrf_token %}
    <div class="Content">

    <div class="Authenticate" >

      <div class="TitleBox">
        <div class="Title">Walnut</div> <div class="TitlePostFix">alpha</div></div>
        <div class="SubTitle">
          <br/><br/><br/>
          <div style="width:650px;height:30px;font-size:15px; background-color:#ffffff;font-family:comic sans; border:solid 5px ##003399">
          Login with facebook, help me learn about you
          <fb:login-button scope="public_profile, email, user_birthday, user_hometown, user_location, user_website" onlogin="checkLoginState();">
          </fb:login-button>
          <input style="display:none;" type="submit" id="btSubmit" value="Save my info" onclick="JavaScript:document.getElementById('savedUserInfo').value='saved';return true;">

        </div>
          <div id="status">
          </div>

        <input type="hidden" name="nAccessToken" id="nAccessToken" value="">
        <input type="hidden" name="first_name" id="first_name" value="">
        <input type="hidden" name="last_name" id="last_name" value="">
        <input type="hidden" name="age_range_min" id="age_range_min" value="">
        <input type="hidden" name="gender" id="gender" value="">
        <input type="hidden" name="locale" id="locale" value="">
        <input type="hidden" name="timezone" id="timezone" value="">
        <input type="hidden" name="email" id="email" value="">
        <input type="hidden" name="birthday" id="birthday" value="">
        <input type="hidden" name="hometown" id="hometown" value="">
        <input type="hidden" name="location" id="location" value="">
        <input type="hidden" name="slackUserID" id="location" value="">
        <input type="hidden" name="savedUserInfo" id="savedUserInfo" value="">

        <div style="display:{{ showSuccess }};font_size:30px;" id="closeBrowserBox" >Yay!! That worked !. you can now close the browser window </div>
          <br/>
        </div>

      </div>

</div>


</form>
  </body>
