{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}Train {% endblock %}


{% block Content %}
{% if modelMap %}
<form action="{% url 'curiousWorkbench:trainProject' project.id %}" method="post">
  {% csrf_token %}


  <div class="FormBox" style="width:900px;">
    <!--<div class="Console" style="height:400px; width:800px;float:left;display:None;font-size:2px;">
    {% autoescape off %}
    {{ runValue }}
    <br>
    {% endautoescape %}
  </div>-->
  <div style='width:900px; float:left;height:50px;'>
    <div style="width:305px; float:left;">
      <div class="FormRowInformation"><div class="FormHeader">Project</div><div class="FormHeader">&nbsp;&nbsp;</div></div>
      <div class="FormRowInformation"><div class="Label">Name</div><div class="Value">{{ project.Name }}</div></div>
      <div class="FormRowInformation"><div class="Label">Description</div><div class="Value">{{ project.Description }}</div></div>
      <div class="FormRowInformation"><div class="Label">Last Updated</div><div class="Value">{{ project.LastUpdated }}</div></div>
    </div>
    <div style="width:305px;float:left;">
      <div class="FormRowInformation"><div class="FormHeader">Model <input type="submit" name="resetProject" value="Reset" id="resetProject" class='ResetSubmitButton'></div><div class="FormHeader">&nbsp;</div></div>
      <div class="FormRowInformation"><div class="Label">Model</div><div class="Value">{{ modelMap.Name }}</div></div>
      <div class="FormRowInformation"><div class="Label">Description</div><div class="Value">{{ modelMap.Description }}</div></div>
      <div class="FormRowInformation"><div class="Label">Last Updated</div><div class="Value">{{ modelMap.Created }}</div></div>
    </div>
  </div>
  <div style='width:900px;height:400px; float:left;'>
    <div style="height:400px; width:900px; float:left;">
      <img  style="float:left;height:400px;" src="{{rootURL}}/static/curiousWorkbench/images/predictionGraph.png" style="width:300px;height:300px;" alt="No Visualization">
    </div>
  </div>
  <div style='width:900px;height:50px; float:left;'>
    <div class="FormRowInformation"> <div class="FormHeader">Test</div></div>
    <div class="FormRow" style="width:900px;">
      <input type="text" id="txtTrain" name="txtTrain" style="width:600px;float:left;" autocomplete="off">
      <input type="submit" name="trainForValue" value="Test" id="trainForValue" style="width:100px; float:left;">
    </div>
  </div>
    <div style='width:900px;height:410px; float:left;'>
  <div style='width:900px;height:300px; float:left;margin-top:5px;'>
    <div class="Console" style="height:300px; width:600px;float:left;font-size:1px; ">
      {% autoescape off %}

      {{strMsg }}
      {% endautoescape %}
    </div>
  </div>
  <div style='width:900px;height:50px;  float:left;'>
    <div style="width:200px;float:left;">
      <div class="FormRowInformation"> <div class="FormHeader">Train</div></div>
      <div class="FormRow">
        <div class="Value" style="width:400px;">
          <select id="rdoDataFile" name="rdoDataFile" style="width:250px;float:left;">
            <option value="0">Select a Training Dataset</option>
            {% for dataFile in dataFileList %}
            <option value=".{{ dataFile.dataFile.url }}">{{ dataFile.FileName }}</option>
            {% endfor %}
          </select>
          <input type="submit" name="trainWithFile" value="Train with File" id="trainWithFile" style="width:100px;float:left;">
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>


  </form>

  {% endif %}


  {% endblock %}
